body {
    font-family: Arial;
    background-color: #a9b2be;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: #ffffff;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
}

.contenedor h1 {
    text-align: center;
    margin-bottom: 1px;
}

.contenedor h4 {
    text-align: center;
}

.contenedor p {
    text-align: center;
    font-weight: bold;
}
.contenedor label {
    margin-top: 10px;
}

.contenedor input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #00000041;
    border-radius: 4px;
}

.contenedor button {
    margin-top: 20px;
    padding: 10px;
    background-color: #283663;
    color: #c4c5d0;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}